@charset "UTF-8";

header, hgroup, av, footer, section, article, figure, figcaption, aside {display:block;}

body {
	background-image:url(images/swirl_pattern.png);
	background-repeat:repeat;
	height:auto;
	}
	
.borders {
	background-color:#595A5C;
	text-align:left;
	color:#fff;
	height:100px;
	width:100%;
	font-size:1em;
	padding:5px 0px;
	}

.borders p a {
	color:#fff;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	text-decoration:none;
	}
	
iframe {
	padding-top:30px;
	}
	
.videowrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:25px;
	height:0;
	}
	
.videowrapper iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}
	
a:hover {
	color:#000;
	}
	
aside a img:hover {
	box-shadow: 10px 10px 15px #888888;
	}
	
aside {
	float:left;
	width:250px;
	height:auto;
	padding-left:30px;
	margin-left:30px;
	margin-bottom:10px;
    }
	
aside h4 {
	color:#000;
	text-align:center;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	border-bottom:1px solid #000;
	margin-top:30px;
	margin-bottom:0px;
	}

aside h2 {
	text-align:center;	
	font-family:Verdana, Helvetica, Arial, sans-serif;
	margin-top:30px;
	margin-bottom:0px;
	}	

aside h2 a {
	color:#000;
	text-decoration:none;
	}

footer {
	clear:left;
	background-color:#595A5C;
	color:#fff;
	height:110px;
	width:100%;
	font-size:1em;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	}
	
#leftft {
	float:left;
	padding-left:30px;
	}
	
#leftft p {
	text-align:left;
	}

#leftft p a {
	color:#fff;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	text-decoration:none;
	}
	
#rightft {
	float:right;
	padding-right:30px;
	}
	
#rightft p {
	text-align:right;
	}
	
#slowandeasy {
	padding-right:30px;
	text-align:right;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	}

#leftcolumn {
	float:left;
	width:280px;
	height:auto;
	padding-left:30px;
	color:#000;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	}
	
#leftcolumn p {
	text-align:left;
	}
	
#rightcolumn {
	float:left;
	margin-left:30px;
	width:280px;
	height:auto;
	color:#000;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	}
	
#rightcolumn p {
	text-align:left;
	padding:0px;
	}
	
#rightcolumn h1 {
	text-align:center;
	}
	
#rightcolumn ul {
	text-align:left;
	padding-left:10px;
	margin-left:5px;
	}

#fb-root {
}

.fb-post {
	}
	
#bigger {
	margin-bottom:21px;
	}
	
.headerborder {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	text-align: center;
	}
	
.logo {
	display:inline;
	float:left;
	padding-left:30px;
	}

	
nav ul li a {
	text-decoration:none;
	color:#fff;
	}
	
nav ul li {
	display:inline;
	list-style-type:none;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size:1.4em;
	text-transform:uppercase;
	padding-left:15px;
	padding-right:15px;
	}
	
nav ul {
	text-align:center;
	padding:0px;
	}
	
nav {
	background-color:#595A5C;
	color:#fff;
	padding:5px;
	}
	
header {
	height:456px;
	width:100%;
	}
	
#wrapper {
	background-position:center;
	background-color:#C0C0C0;
	max-width:960px;
	width:80%;
	margin:auto;
	}

.trainerbio {
	font-size: 0.8em;
	}
	
.title {
	text-transform:uppercase;
	color:#fff;
	font-size:5em;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	text-shadow:1px 1px 5px #2D2929;
	position:absolute;
	display:block;
	max-width:350px;
	margin:20px;
	}

.ise {
	background-image:url(images/Chalked_Handsweb1.png);
	margin: 0 auto;
	width:100%;
	height:100%;
	}
	
.esv {
	background-image:url(images/corevalues.png);
	margin: 0 auto;
	width:100%;
	height:100%;
	}
	
.voodoochild {
	background-image:url(images/weights.png);
	width:100%;
	height:100%;
	}	

.ess {
	background-image:url(images/scheduleclock.png);
	width:100%;
	height:100%;
	}
	
.esp {
	background-image:url(images/weight2.png);
	margin: 0 auto;
	width:100%;
	height:100%;
	}

.esc {
	background-image:url(images/weight3.png);
	width:100%;
	height:100%;
	}
	
.clearfix{
	clear:both;
	}
	
.stoked {
	height:100%;
	max-width:960px;
	position:relative;
	}
.blue {
	color:#0073BF;
	top:-20px;
	position:relative;

	}
	
h3 {
	text-align:center;
	}
	
.menu{
    position:relative;
	}
	
.menu li a{
	color: #fff;
	text-shadow: 0px 0px 5px #000;
	letter-spacing: 1px;
	transition: all 0.1s ease-in-out;
	}
	
.menu:hover li a{
	text-shadow: 0px 0px 5px #000;
	}
	
.menu li a:hover{
	color:#0073BF;
	text-shadow: 0px 0px 10px #000;
	}
	
.pics {
	margin-top:20px;
	transition:all 0.1s ease-in-out;
	}
	
.pics:hover {
	box-shadow:5px #000;
	padding-left:5px;
	}
	

	
#founder {
	 float:left;
	 padding-right:10px;
	 padding-bottom:5px;
	 }
	 
#mainContent {
	float:left;
	width:60%;
	height:auto;
	padding-left:30px;
	padding-right:0px;
	color:#000;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	min-width:260px;
	}

#contacth2 {
	margin-bottom:1px;
	}

#mainContent iframe {
	padding:0px;
	} 
	
#mainContent p {
	text-align:left;
	}
	
#mainContent ul li a {
	text-decoration:none;
	color:#1352AB;
	}
	
#scheduleHeader {
	background-image:url(images/corevalues.png);
	margin: 0 auto;
	width:100%;
	height:100%;
	
	}
	
#trainercolumn {
	float:left;
	width:60%;
	padding-left:30px;
	min-width:260px;
	}
	
#trainercolumn div {
	font-family:Verdana, Helvetica, Arial, sans-serif;
	}

#trainercolumn div h2 {
	text-transform:uppercase;
	}
	
#chrisdiv {
	float:left;
	width:100%;
	height:auto;
	padding:10px;
	transition: all 0.5s ease-in-out;
	}

#chrisdiv:hover {
	box-shadow: -1px 1px 25px #888888;
	}
	
#chrisdiv p {
	text-align:left;
	padding-right:0;
	}
	
#chrisdiv img {
	float:left;
	padding-right:10px;
	padding-bottom:5px;
	}

#ashleydiv {
	float:left;
	width:100%;
	height:auto;
	text-align:left;
	padding:10px;
	transition: all 0.5s ease-in-out;
	}

#ashleydiv:hover {
	box-shadow: -1px 1px 25px #888888;
	}
	
#ashleydiv p {
	text-align:left;
	padding-right:0;
	}
	
#ashleydiv img {
	float:right;
	padding-left:10px;
	padding-bottom:5px;
	}
	
#kimdiv {
	float:left;
	width:100%;
	height:auto;
	text-align:left;
	padding:10px;
	transition: all 0.5s ease-in-out;
	}

#kimdiv:hover {
	box-shadow: -1px 1px 25px #888888;
	}
	
#kimdiv p {
	text-align:left;
	padding-right:0;
	}
	
#kimdiv img {
	float:left;
	padding-right:10px;
	padding-bottom:5px;
	}
	
#kimdiv p {
	text-align:left;
	}
	
#jamesdiv {
	float:left;
	width:100%;
	height:auto;
	text-align:left;
	padding:10px;
	transition: all 0.5s ease-in-out;
	}

#jamesdiv:hover {
	box-shadow: -1px 1px 25px #888888;
	}
	
#jamesdiv p {
	text-align:left;
	padding-right:0;
	}
	
#jamesdiv img {
	float:right;
	padding-left:10px;
	padding-bottom:5px;
	}
	
#jermeydiv {
	float:left;
	width:100%;
	height:auto;
	text-align:left;
	padding:10px;
	transition: all 0.5s ease-in-out;
	}

#jermeydiv:hover {
	box-shadow: -1px 1px 25px #888888;
	}
	
#jermeydiv p {
	text-align:left;
	padding-right:0;
	}
	
#jermeydiv img {
	float:left;
	padding-right:10px;
	padding-bottom:5px;
	}
	
#mindydiv {
	float:left;
	width:100%;
	height:auto;
	text-align:left;
	padding:10px;
	transition: all 0.5s ease-in-out;
	}

#mindydiv:hover {
	box-shadow: -1px 1px 25px #888888;
	}
	
#mindydiv p {
	text-align:left;
	padding-right:0;
	}
	
#mindydiv img {
	float:right;
	padding-left:10px;
	padding-bottom:5px;
	}
	
@media only screen and (max-width: 830px) {
#wrapper {
	background-position:center;
	background-color:#C0C0C0;
	max-width: 640px;
	min-width: 640px;
	width:auto;
	}
	
nav ul {
	font-size:110%;
	}
	
}
	
@media only screen and (max-width: 580px) {

/*.ise {
	background-image:url(images/Chalked_Handsweb1.png);
	margin: 0 auto;
	width:100%;
	height:100%;
	}*/

div.borders p {
	font-size: 0px;
	}

.title {
	text-transform:uppercase;
	color:#fff;
	font-size:0em;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	text-shadow:1px 1px 5px #2D2929;
	position:absolute;
	display:block;
	max-width:350px;
	margin:20px;
	}
	
#wrapper {
	background-position:center;
	background-color:#C0C0C0;
	max-width: 340px;
	min-width: 340px;
	width:auto;
	}
	
.logo {
	display: block;
	float: none;
	padding-left: 0px;
	margin-left: auto;
    margin-right: auto;
	
	}
	
.borders{
	margin-left: auto;
    margin-right: auto;
	}

header {
	height:0px;
	width:0%;
	}
	
nav ul {
	text-align:center;
	padding-left:35px;
	padding-right:35px;
	}
	
nav ul li {
	display:block;
	}
	
#leftcolumn {
	float:left;
	width:280px;
	height:700px;
	padding-left:30px;
	color:#000;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	}
}
