extend layout

block title
	title Orders

block content
	h1 All Orders
	a(href='/orders/new') Create an Order
	table
		tr
			th ID
			th Customer Name
			th Date
		each order, orderId in orders
			tr
				td
					a(href='/orders/' + orderId)= orderId
				td= order.customer_name
				td= order.date
