@font-face{
    font-family: 'Airstream';
    src: url('fonts/Airstream-webfont.eot');
    src: url('fonts/Airstream-webfont.eot?iefix') format('eot'),
    url('fonts/Airstream-webfont.woff') format('woff'),
    url('fonts/Airstream-webfont.ttf') format('truetype'),
    url('fonts/Airstream-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'dumb';
    src: url('fonts/3Dumb-webfont.eot');
    src: url('fonts/3Dumb-webfont.eot?iefix') format('eot'),
    url('fonts/3Dumb-webfont.woff') format('woff'),
    url('fonts/3Dumb-webfont.ttf') format('truetype'),
    url('fonts/3Dumb-webfont.svg#webfont') format('svg');
}

#avenir {
    font-family: Avenir, sans-serif;
}

#airstream {
    font-family: 'Airstream', sans-serif;
    font-size: 5vw;
}

#dumb {
    font-family: 'dumb', sans-serif;
    font-size: 5vw;
}