doctype html
html
  head
    base(href="/")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/toastr/toastr.css')
    link(rel='stylesheet', href='/css/site.css')
    include scripts
      
  body(ng-app='app')
    block main-content
