doctype html
html
  head
    title Lunch
    link(rel='stylesheet' href='/stylesheets/application.css')
    script(type='text/javascript' src='//code.jquery.com/jquery-1.11.3.min.js')
  body
    h1 Lunch
    block content
    p
      a(href='/restaurants') All Restaurants
      =' '
      a(href='/restaurants/new') New Restaurant
