* {
    font-family: Avenir, sans-serif;
}

body {
    background-color: aliceblue;
}


main div {
    background-color: darkseagreen;
    color: white;
    margin: 10px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
}

.small {
    height: 75px;
}

.med {
    height: 150px;
}

.large {
    height: 300px;
}